@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
 
/* :root */
:root {
  --color-primary: #ff6b82;
  --color-secondary: #ff7b90;
  --color-white: #ffffff;
  --color-black: #000000;
  --grey-1: #c8c8c8;
  --grey-2: #d9d9d9;
  --grey-3: #dadada;
  --color-white-1: #fff9fa;
  --color-overlay: #00000066;
  --font-size-base: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-large: 1.446rem;
}
/********************************/

/* UNIVERSAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adjust browser font size with rem for-> 1rem=10px*/
html {
  font-size: 62.5%; /* 10px / 16px = 0.625 */
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}
/********************************/

/* GENERAL REUSABLE COMPONENTS */
.container {
  height: 60.3rem;
  width: 46.2rem;
  margin: 0 auto;
}

.border {
  border: 0.9px solid var(--grey-1);
  margin-bottom: 2rem;
  padding: 2rem;
}

.active {
  border: 2px solid var(--color-primary);
  background-color: var(--color-white-1);
}

/* radio buttons */
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */

  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;

  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: var(--color-primary);
}

/* To change the cursor from arrow to pointer */
button:hover,
input:hover {
  cursor: pointer;
}

/********************************/

/* OTHER COMPONENTS */
/* BOGO Heading */
.heading-primary {
  text-align: center;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 2rem;
  margin: 3.9rem 15.9rem 1.9rem;
  position: relative;
}

/* To achieve the horizontal lines on the left and right side of the heading */
.heading-primary::before,
.heading-primary::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--grey-1);
  position: absolute;
  top: 50%;
}

.heading-primary::before {
  width: 9rem;
  left: 15rem;
}

.heading-primary::after {
  width: 9.5rem;
  right: 15rem;
}

.article {
  width: 34.1rem;
  margin-left: 5.9rem;
  margin-top: 1.9rem;
}

.article-unit--1,
.article-unit--2,
.article-unit--3 {
  padding-left: 0;
  padding-right: 0;
}

/* Cards */
.card-header {
  display: flex;
  justify-content: space-around;
}

/* Styling %off */
.offer-percent {
  background-color: var(--color-primary);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.452rem;
  text-align: center;
  color: var(--color-white);
  padding: 0.2rem 0.9rem;
  border-radius: 1px;
}

select {
  border: 0.9px solid var(--grey-2);
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: white;
  width: 65px;
  height: 25px;
}

label {
  font-size: var(--font-size-small);
  font-weight: 600;
  margin: 0.5rem;
}

/* offer price */
.price p {
  font-size: var(--font-size-large);
}

/* origial price */
.price s {
  font-size: 1rem;
  color: var(--grey-1);
}

/* positioning the 'most popular' component*/
.pop {
  background-color: var(--color-primary);
  font-size: var(--font-size-base);
  color: var(--color-white);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0.5rem;
  top: -1rem;
}

/* to position the 'most popular' component, setting its parent to relative */
.article-unit--2 {
  position: relative;
}

/* standard price */
.std-p {
  margin-left: 2.5rem;
  margin-top: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
}

/* TABLE STYLES */
table {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 0.9rem;
}

th,
td {
  padding: 0.3rem;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
}

/* removing table from the flow for the card to be expndable later */
.table {
  display: none;
}

/* to display the table when added the class active using JS */
.active table {
  display: block;
}

/* Cart Total */
.cart-total {
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-small);
  margin-bottom: 2rem;
}

/* Styling 'Free Delivery' */
.cart-total p:first-of-type {
  color: var(--color-primary);
}

/* plus icon */
.svg {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}

/* Add to cart button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 4rem;
  width: 34.2rem;
  border-radius: 4px;
  border: none;
  margin-left: 5.8rem;
  font-size: var(--font-size-base);
  font-weight: 500;
}

/* copyright */
.copyright {
  display: flex;
  font-style: italic;
  color: var(--color-overlay);
  margin-top: 0.5rem;
  margin-left: 29rem;
}

/* media queries for mobiles */

@media (max-width: 34em) {
  .container {
    width: 100vw;
  }

  .heading-primary {
    font-size: 2.4rem;
    margin: 3.9rem auto 1.9rem auto;
  }

  .heading-primary::before {
    width: 4rem;
    left: 6rem;
  }

  .heading-primary::after {
    width: 4rem;
    right: 5.5rem;
  }

  .article {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-total {
    margin-left: 1.4rem;
    margin-right: 1rem;
  }
  .button {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .copyright {
    font-size: 0.5rem;
    margin-left: 25rem;
  }
}
